body {
    pointer-events: unset !important;
    overflow: unset !important;
}

body.scroll-disabled {
    height: unset !important;
    overflow: unset !important;
    position: unset !important;
    width: unset !important;
}

body reddit-cookie-banner {
    display: none !important;
}

body shreddit-experience-tree,
body .XPromoPopupRpl {
    display: none !important;
}

/* ---- Unfix header --- */
body.header-unfix shreddit-app,
body.header-unfix .App .NavFrame__below-top-nav {
    padding-top: unset !important;
}
body.header-unfix .App .TopNav {
    position: unset !important;
}

/* ---- Debug mode --- */
.debug-mode--container {
    background: red;
    height: 30px;
}