body {
    pointer-events: unset !important;
    overflow: unset !important;
}

body.scroll-disabled {
    height: unset !important;
    overflow: unset !important;
    position: unset !important;
    width: unset !important;
}

body reddit-cookie-banner {
    display: none !important;
}

body shreddit-experience-tree,
body .XPromoPopupRpl,
body xpromo-app-selector,
body [bundlename='app_selector'],
body #xpromo-bottom-sheet {
    display: none !important;
}

/* ---- Unfix header --- */
body.header-unfix shreddit-app,
body.header-unfix .App .NavFrame__below-top-nav {
    padding-top: unset !important;
}
body.header-unfix .App .TopNav {
    position: unset !important;
}

.hide-promoted shreddit-ad-post,
.hide-promoted .promotedlink,
.hide-promoted hr + shreddit-ad-post + hr,
.hide-promoted hr + .promotedlink + hr {
    display: none;
}

/* ---- Debug mode --- */
.debug-mode--container {
    box-sizing: border-box;
    padding: 15px;
    background: rgba(0,0,0,.4);
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.debug-mode--container textarea {
    height: 80px;
    width: 100%;
    margin: 0;
}

.debug-mode--container .close-button {
    background-color: black;
    color: white;
    cursor: pointer;
    align-self: flex-end;
}
